*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.dashboard__logo{
    height: 4.7rem;
}

.user{
    padding: 0 3rem;
}

.userPara{
    font-size: 1.6rem;
}

.userSectionTitle{
    background-color: red;
    padding: .5rem;
    border: 1px solid black;
}

.user__submitArea{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.centerIt{
    display: flex;
    justify-content: center;
}

.zeroMargin{
    margin: 0;
}

.marginYLow{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.marginYHigh{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.marginRight{
    margin-right: 2rem;
}

.marginLeft{
    margin-left: 2rem;
}